div.logobig {
    margin-top:5%;
}

div.slogan {
    font-size:32px;
    color:white;
    font-weight:normal;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

div.facebook {
    text-align:center;
    margin-top:40px;
}


